<ol class="process-list">
  <% process.forEach((step, index) => { %>
    <li class="process-step panel">
      <span><%= String(index + 1).padStart(2, '0') %></span>
      <div>
        <h3><%= step.title %></h3>
        <p><%= step.description %></p>
      </div>
    </li>
  <% }) %>
</ol>
